<%= link_to "Bars", "/bars" %>
<%= link_to "Drinks", "/drinks" %>
<%= link_to "Create Drink", "/bars/#{@bar.id}/drinks/new" %>


<h1>Drinks</h1>
<% @drinks.each do |drink| %>
  <h3><%= drink.name %></h3>
  <p>Quantity on hand: <%= drink.quantity %></p>
  <p>Includes alcohol: <%= drink.alcohol %></p>
<% end %>
