<%= link_to "Bars", "/bars" %>
<%= link_to "Drinks", "/drinks" %>
<%= link_to "Create Drink", "/bars/#{@bar.id}/drinks/new" %>
<%= link_to "Sort Alphabetically", "/bars/#{@bar.id}/drinks?sort=asc" %>

<h1>Drinks</h1>
<br/><%= form_with url: "/bars/#{@bar.id}/drinks", method: :get, local: true do |form| %>
<%= form.label :filter, "Only return records with more than" %>
<%= form.text_field :filter %>
<%= form.submit "Search" %>
<% end %>
<br/>
<div id="drinks_container">
  <% @drinks.each_with_index do |drink, index| %>
    <div id="drink-<%= index %>">
      <h3><%= drink.name %></h3>  <%= link_to "Edit #{drink.name}", "/drinks/#{drink.id}/edit" =%>
      <p>Quantity on hand: <%= drink.quantity %></p>
      <p>Includes alcohol: <%= drink.alcohol %></p>
    </div>
  <% end %>
</div>
