<%= link_to "Bars", "/bars" %>
<%= link_to "Drinks", "/drinks" %>

<h1><%= @drink.name %></h1>
<p>ID: <%= @drink.id %></p>
<p>Quantity: <%= @drink.quantity %></p>
<p>Alcohol: <%= @drink.alcohol %></p>
