<h1><%= @bar.name %></h1>
<p>ID: <%= @bar.id %></p>
<p>Bar: <%= @bar.name %></p>
<p>Specials: <%= @bar.specials %></p>
<p>Established <%= @bar.established %></p>
<p>Location: <%= @bar.location %></p>
