<%= link_to "Bars", "/bars" %>
<%= link_to "Drinks", "/drinks" %>
<%= link_to "Drink Options", "/bars/#{@bar.id}/drinks" %>


<p><%= button_to "Update #{@bar.name}", "/bars/#{@bar.id}/edit", method: :get %></p>
<h1><%= @bar.name %></h1>
<p>ID: <%= @bar.id %></p>
<p>Bar: <%= @bar.name %></p>
<p>Specials: <%= @bar.specials %></p>
<p>Established <%= @bar.established %></p>
<p>Location: <%= @bar.location %></p>
<p>Drink Options: <%= @bar.drinks.count %> </p>
